*{
    text-align: center;
    font-size: 20px;
}

#corpoDaPagina{
    width: 100%;
    background-image: url("../imagens/fundoV4.jpg");
    background-repeat: no-repeat;


    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;
}

#corpoDaPagina:hover{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

p{
    color: white;
}

a{
    color: #2923f3;
    text-decoration: none;
    padding: 12px;
}

a:hover{
    color: #e6e8eb
}

#textoMaior{
    color: black;
    background-color: white;
    display: inline-block;
    padding: 15px;
    border-radius: 6px;
    font-size: 50px;
}

#imagemBlock {
    box-shadow: 10px 10px #000;
    margin-bottom: 20px;
    width: 600px;
}